<button id="rzp-button1">Pay</button>
<div hidden id="demo">order id here</div>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
  var options = {
    "key": "rzp_test_UdOBHJRikplzSR", // Enter the Key ID generated from the Dashboard
    "amount": "50000", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Acme Corp",
    "description": "Test Transaction",//    "image": "https://example.com/your_logo",
    //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response) {
      alert("success");
      alert(response.razorpay_payment_id);
      alert(response.razorpay_order_id);
      alert(response.razorpay_signature);

      var url = '/verify';
      var params = {
        razorpay_order_id: response.razorpay_payment_id,
        razorpay_payment_id: response.razorpay_order_id,
        razorpay_signature: response.razorpay_signature
      };
      var xmlHttp = new XMLHttpRequest();
      xmlHttp.onreadystatechange = function (res) {
        if (xmlHttp.readyState === 4) {
          // alert(xmlHttp.responseText);
          console.log(xmlHttp.responseText);
        }
      }
      xmlHttp.open("POST", url, true); // false for synchronous request
      xmlHttp.setRequestHeader("Content-type", "application/json");
      xmlHttp.send(JSON.stringify(params));
    },
    "prefill": {
      "name": "Gaurav Kumar",
      "email": "gaurav.kumar@example.com",
      "contact": "9999999999"
    },
    "notes": {
      "address": "Razorpay Corporate Office"
    },
    "theme": {
      "color": "#82AE46"
    }
  };
  var rzp1 = new Razorpay(options);
  rzp1.on('payment.failed', function (response) {
    console.log(response)
    alert(response.error.code);
    alert(response.error.description);
    alert(response.error.source);
    alert(response.error.step);
    alert(response.error.reason);
    alert(response.error.metadata.order_id);
    alert(response.error.metadata.payment_id);
  });
  document.getElementById('rzp-button1').onclick = function (e) {
    console.log(options.order_id)
    rzp1.open();
    e.preventDefault();
  }
</script>